@tailwind base;
@tailwind components;
@tailwind utilities;


.lh-0-5 {
  line-height: 0.5 !important;
}
.lh-1 {
  line-height: 1 !important;
}
.lh-1_1 {
  line-height: 1.1 !important;
}
.lh-1_2 {
  line-height: 1.2 !important;
}
.lh-1_3 {
  line-height: 1.3 !important;
}
.lh-1_4 {
  line-height: 1.4 !important;
}
.lh-1_5 {
  line-height: 1.5 !important;
}
.lh-1_6 {
  line-height: 1.6 !important;
}
.lh-1_7 {
  line-height: 1.7 !important;
}
.lh-1_8 {
  line-height: 1.8 !important;
}
.lh-1_9 {
  line-height: 1.9 !important;
}

@layer base {
  :root {
    --navbar-height: calc(72px + 55px);
    scroll-behavior: smooth;
  }

  

  html,
  body {
    @apply bg-body text-text;
  }

  .container-wrapper {
    @apply max-w-[1140px] min-[1440px]:max-w-[1300px] w-full mx-auto px-4 lg:px-2;
  }
}

@font-face {
  font-family: "soha-reg";
  src: url("../public/fonts/soha-reg.otf");
}

@font-face {
  font-family: "soha-med";
  src: url("../public/fonts/soha-med.otf");
}

@font-face {
  font-family: "soha-bold";
  src: url("../public/fonts/soha-bold.otf");
}
@font-face {
  font-family: "soha-thin";
  src: url("../public/fonts/soha-thin.otf");
}


.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

/* ANIMATED black-screen */

.black-screen-animated {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.black-screen-animated.show {
  animation-name: fade-in;
}

.black-screen-animated.hide {
  animation-name: fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.improve-performance {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.bg-footer {
  background: #191919;
  background: linear-gradient(-90deg, #191919 0%, #353b3b 100%);
}

.btn-nav {
  border-radius: 3px;

  background: #343a3a;
  background: linear-gradient(97deg, #343a3a 0%, #1b1b1b 100%);
}

.hero-input{
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.btn-hero{
  border-color: #000000;
border-width: 1px;
border-style: dashed;
border-radius: 3px;

background: #1a4093
}
.presale-bg{
  border-color: #000000;
border-width: 1px;
border-style: dashed;
border-radius: 21px;


background: #191919;
background: linear-gradient(-90deg, 
#191919 0.00%, 
#353b3b 100.00%);
}

.cards {
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 2px 4px 12px #00000014;
  display: flex;
  padding: 35px 30px 30px;
  flex-direction: column;
  min-height: 275px;
  border: none;
}

.token-card {
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 2px 4px 12px #00000014;
  display: flex;
  padding: 35px 30px 50px ;
  flex-direction: column;
  min-height: 275px;
  border: none;
  background-color: #2d3439;
}